export(associations,
       coefchange, endog_test, fitstat, ginfluence, listcoef, mcor.test,
       readURL.dta, renames, tsls2, weighted.summary)
S3method(coefchange, default)
S3method(coefchange, lm)
S3method(coefchange, glm)
S3method(endog_test, tsls)
S3method(endog_test, tsls2)
S3method(endog_test, ivreg)
S3method(fitstat, lm)
S3method(fitstat, multinom)
S3method(listcoef, lm)
S3method(listcoef, glm)
S3method(print, coefchange)
S3method(print, endog_test)
S3method(renames, data.frame)

