export(constrReduce,coincid,consistency, coverage, CSA, cs_truthTable,esubSet,findNoCSA,findParsimonious,
       fs_tt, fs_truthTable, overlap, reduce,reduceOld, SA, simplifyingAssumption, suffnec,
       thresholdssetter,which.commonConfiguration, qca)
S3method(drop1, truthTable)
S3method(print, coincid)
S3method(print, QCA)
S3method(plot, QCA)
S3method(print, suffnec)
S3method(print, summary.QCA)
S3method(print, truthTable)
S3method(reduce, default)
S3method(reduce, formula)
S3method(reduce, truthTable)
S3method(summary, QCA)
S3method('[',QCA)
import(gtools)
import(lpSolve)
